# Ignore virtual environment
venv/

# Ignore database and migration files
*.sqlite3
migrations/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore environment variables file
.env